.dashboardLevel {
     width: 100%;
}

.dashboard {
     display: flex;
}

.dashboardLeftTop {
     flex: 55%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 40px;
}

.dashboardRightTop {
     flex: 45%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 40px;
}

.dashboardDropdownWrapper {
     display: flex;
}

.dashboardDropdown {
     background-color: #ffffff;
     position: relative;
     width: 200px;
     height: 40px;
     display: flex;
     margin-left: 20px;
     border-radius: 5px;
     align-items: center;
     justify-content: space-between;
}

.dashboardDropdown.plus {
     width: 250px;
}

.buttonDropdown {
     margin-left: 5px;
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     font-size: 16px;
     padding-left: 5px;
     border: none;
     cursor: pointer;
}

.dashboardDropdownArrow {
     margin-right: 15px;
}

.dashboardDropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
}

/*Second */

.dashboardSecond {
     display: flex;
     margin-top: 30px;
}

.dashboardLeft {
     flex: 55%;
     display: flexbox;
     justify-content: flex-start;
     align-items: center;
     margin-left: 40px;
     margin-right: 20px;
}

.dashboardRight {
     flex: 45%;
     display: flexbox;
     justify-content: flex-start;
     align-items: center;
     margin-right: 40px;
     margin-left: 20px;
}

/*Overview*/

.dashboardOverview {
     margin-top: 20px;
     padding-bottom: 20px;
     height: 120px;
     background-color: rgb(255, 255, 255);
     display: flex;
     border-radius: 10px;
}
.dashboardOverviewBox {
     flex: 25%;
     display: block;
     padding: 10px 15px;
     height: 100%;
}

.dashboardOverviewBox.border {
     border-top-style: none;
     border-right-style: solid;
     border-bottom-style: none;
     border-left-style: none;
     border-color: rgb(226, 226, 226);
     border-width: 1px;
}

.dashboardOverviewTitle {
     display: flex;
     align-items: center;
}

/*Calendar*/

.dashboardCalendarWrapper {
     margin-top: 20px;
     background-color: rgb(255, 255, 255);
     display: flex;
     border-radius: 10px;
}

.dashboardCalendar {
     border-radius: 10px;
     background-color: rgb(255, 255, 255);
}

.dashboardCalendarMeetings {
     width: 100%;
     display: flexbox;
     justify-content: center;
     align-items: center;
     margin: 5px 35px;
}

.dashboardCalendarFilter {
     margin: 10px 0px;
     padding-left: 20px;
     height: 35px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     border-color: #485aff;
     border-width: 1px;
     border-style: solid;
     border-radius: 5px;
}

.dashboardCalendarEvent {
     margin: 10px 0px;
     display: flex;
}

.dashboardCalendarEventTitle {
     margin-bottom: 5px;
}

.dashboardCalendarEventWrapper {
     width: 70%;
}

/*Dashborad Third*/

.dashboardThird {
     display: flex;
     margin-top: 30px;
}

.dashboardLeft.up {
     margin-top: -160px;
}

/*Tasks*/

.dashboardTasks {
     margin-top: 20px;
     background-color: rgb(255, 255, 255);
     border-radius: 10px;
     display: flex;
     flex-direction: column;
}

.dashboardSearchContainer {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     border-radius: 10px;
     margin-right: 10px;
     height: 25px;
     padding: 10px 25px;
     margin-top: 10px;
}

.dashboardSearchIcon {
     margin-right: 15px;
}

.dashboardSearchInput {
     margin-left: 20px;
     border: none;
     height: 100%;
     outline: none;
     width: 240px;
     color: rgb(0, 0, 0);
}

.dashboardTaskList {
     display: flexbox;
     margin-bottom: 20px;
}

.dashboardTaskItem {
     margin-left: 25px;
     display: flex;
     align-items: center;
     margin-top: 10px;
}
.dashboardTaskItemIMGWrapper {
     display: flex;
}
.dashboardTaskItemIMG {
     width: 35px;
     height: 35px;
     border-radius: 10px;
}

.dashboardTaskItemLeft {
     flex: 90%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.dashboardTaskItemRight {
     flex: 10%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 20px;
}

/*Show task info*/

.dashboardShowtaskinfoWrapper {
     margin-top: 20px;
     background-color: rgb(255, 255, 255);
     display: flex;
     flex-direction: column;
     border-radius: 10px;
     z-index: 10;
}

.dashboardShowtaskinfoTasktitle {
     display: flex;
     justify-content: space-between;
     align-self: center;
     padding: 5px 10px;
     width: 90%;
}
.dashboardShowtaskinfoTasktitleLeft {
     font-size: 20px;
     font-weight: bold;
     margin-left: 20px;
     margin-top: 10px;
}

.dashboardShowtaskinfoTasktitleRight {
     font-weight: bold;
     font-size: 20px;
     margin-right: 20px;
}

.dashboardShowtaskinfoList {
     border-top: 1px solid rgba(191, 191, 191, 0.5);
     margin-top: 5px;
     padding: 10px 20px 10px 30px;
     display: flex;
}

.dashboardShowtaskinfoListLeft {
     flex: 55%;
}

.dashboardShowtaskinfoListRight {
     flex: 45%;
}
.dashboardShowtaskinfoListItem {
     margin-bottom: 5px;
     display: flex;
     align-items: center;
     height: 40px;
     margin: 0px 5px;
}

.dashboardShowtaskinfoListItem.button {
     width: 50%;
     cursor: pointer;
}

.dashboardShowtaskinfoItemName {
     flex: 35%;
     font-size: 13px;
     font-weight: bold;
}

.dashboardShowtaskinfoItemAction {
     flex: 65%;
     font-size: 13px;
     font-weight: 500;
}
.dashboardShowtaskinfoListItemAdd {
     font-size: 35px;
     color: var(--color-main);
     margin-right: 10px;
     font-weight: bold;
}

.dashboardShowInfoAdd {
     display: flex;
     align-items: center;
     padding: 10px;
     background-color: #f6f8f9;
     border-radius: 0px 0px 10px 10px;
}

.dashboardShowInfoAddIcon {
     display: flex;
     margin-right: 20px;
}

.dashboardShowInfoAddIMG {
     width: 43px;
     height: 43px;
     border-radius: 50%;
}

.dashboardShowInfoAddDetails {
     background-color: #ffffff;
     width: 100%;
     height: 50px;
     margin-right: 20px;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.dashboardShowInfoAddDetailsArrow {
     margin-right: 20px;
     display: flex;
}

/*progressBar*/

.progress {
     margin: 10px 0px 0px 0px;
     border-radius: 20px;
     height: 7px;
     width: 90%;
}

.progress-done {
     height: 100%;
     border-radius: 20px;
}

.verticalProgressBar {
     border-radius: 20px;
     width: 5px;
     margin-right: 10px;
}

/*Text*/

.dashboardTitle {
     font-weight: bold;
     font-size: 30px;
     margin-left: 10px;
}

.dashboardOverviewTitleText {
     margin-left: 10px;
     font-weight: 500;
     color: #808080;
     font-size: 14px;
}

.dashboardSmallTitle {
     font-weight: bold;
     font-size: 25px;
}

.dashboardOverviewBoxText {
     font-weight: bold;
     font-size: 40px;
}

.dashboardCalendarEventTitle {
     font-weight: bold;
     font-size: 15px;
}

.dashboardCalendarEventTime {
     font-size: 13px;
}

.dashboardTaskItemText {
     font-weight: bold;
     font-size: 12px;
     margin-left: 10px;
}

.dashboardTaskItemTextSmall {
     font-size: 12px;
     margin-left: 10px;
}

.dashboardShowInfoAddDetailsText {
     margin-left: 20px;
}

.dashboardCalendarFilter2 {
     display: none;
}

@media screen and (max-width: 1590px) {
     .dashboard {
          display: flex;
          flex-direction: column;
     }

     .dashboardRightTop {
          display: flex;
     }

     .dashboardDropdownWrapper {
          margin-top: 20px;
          width: 100%;
          justify-content: space-between;
     }

     .dashboardSecond {
          display: flex;
          flex-direction: column;
     }

     .dashboardLeft {
          margin-left: 50;
     }

     .dashboardRight {
          margin-top: 20px;
          margin-left: 40px;
          margin-right: 20px;
     }

     .dashboardSmallTitle {
          text-align: center;
     }

     .dashboardLeft.up {
          margin-top: 0px;
     }

     .dashboardThird {
          display: flex;
          flex-direction: column;
     }

     .dashboardTasks {
          margin-right: 0;
     }

     @media screen and (max-width: 960px) {
          .dashboardRight {
               margin-left: 10px;
               margin-right: 10px;
          }

          .dashboardLeft {
               margin-left: 10px;
               margin-right: 10px;
          }

          .dashboardCalendarMeetings {
               margin: 5px 10px;
          }

          .dashboardOverview {
               display: grid;
               grid-template-columns: 50% 50%;
               height: 100%;
               grid-row-gap: 20px;
               margin-bottom: 20px;
          }

          .dashboardOverviewBox.border {
               border: none;
          }

          .dashboardOverviewBox.mobile {
               border-top-style: none;
               border-right-style: none;
               border-bottom-style: solid;
               border-left-style: solid;
               border-color: rgb(226, 226, 226);
               border-width: 1px;
          }

          .dashboardOverviewBox.mobile2 {
               border-top-style: solid;
               border-right-style: none;
               border-bottom-style: none;
               border-left-style: none;
               border-color: rgb(226, 226, 226);
               border-width: 1px;
          }
          .dashboardOverviewBox.mobile3 {
               border-top-style: none;
               border-right-style: none;
               border-bottom-style: none;
               border-left-style: solid;
               border-color: rgb(226, 226, 226);
               border-width: 1px;
          }

          .dashboardCalendarWrapper {
               width: 100%;
               display: block;
          }

          .dashboardCalendar {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
          }

          .dashboardCalendarFilter {
               display: none;
          }

          .dashboardCalendarFilter2 {
               width: 50%;
               margin: 10px 0px;
               padding-left: 20px;
               height: 35px;
               display: flex;
               align-items: center;
               justify-content: flex-start;
               border-color: #485aff;
               border-width: 1px;
               border-style: solid;
               border-radius: 5px;
          }

          .dashboardCalendarMeetings {
               display: grid;
               grid-template-columns: 50% 50%;
               grid-column-gap: 0px;
               grid-row-gap: 0px;
          }
          .dashboardShowtaskinfoList {
               display: block;
               align-items: center;
               justify-content: center;
          }
          .dashboardShowtaskinfoListItem {
               display: flex;
          }
     }
}
