.dropNoti {
     width: 200%;
     position: absolute;
     right: 0;
     top: 40px;
     text-align: center;
}

.dropdown-menu {
     background: rgb(255, 255, 255);
     list-style: none;
     text-align: center;
     border-radius: 15px;
}

.dropdown-menu.clicked {
     display: none;
}

.dropNotiTitle {
     font-weight: 500;
     margin-top: 20px;
     padding: 20px 0px;
}

.dropnNotiList {
}

.dropnNotiItem {
     display: flex;
     padding: 10px 0px;
}

.dropnNotiItem:hover {
     background-color: #d6d9fc;
}

.dropNotiIma {
     display: flex;
     align-items: center;
     justify-content: center;
     flex: 25%;
}

.dropNotiImg {
     border-radius: 50%;
     width: 60px;
     height: 60px;
}

.dropNotiMiddle {
     flex: 48%;
     display: flexbox;
     text-align: left;
}

.dropnNotiTime {
     flex: 27%;
}

/*TEXT*/

.dropnNotiName {
     font-weight: 500;
     font-size: 18px;
     padding: 2px 0px;
}

.dropnNotiInfo {
     font-size: 10px;
     padding: 2px 0px;
}

.dropnNotiMessage {
     font-size: 11px;
}

.dropnNotiTime {
     text-align: end;
     font-style: italic;
     padding-right: 10px;
     padding-top: 10px;
     font-size: 12px;
}
