.topbar {
     height: 70px;
     background-color: #ffffff;
     display: flex;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     z-index: 999;
     margin-left: 90px;
}

.topbarLeft {
     flex: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 40px;
}

.topbarRight {
     flex: 50%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 40px;
}

.topbarSearchContainer {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     margin-right: 10px;
     height: 25px;
     padding: 0px 10px;
}

.topbarInput {
     margin-left: 20px;
     border: none;
     height: 100%;
     outline: none;
     width: 240px;
     color: rgb(0, 0, 0);
}

.topbarRightIcon {
     margin-right: 15px;
}

.topbarRightArrow {
     padding-left: 5px;
}

.topbarMobileMenu {
     display: none;
}

@media screen and (max-width: 960px) {
     .topbar {
          background-color: var(--color-main);
          margin-left: 0;
          margin-right: -10px;
     }

     .topbarInput {
          display: none;
     }

     .topActive.mobile {
          display: none;
     }

     .topbarMobileMenu {
          display: flex;
          width: 90px;
          border-right: 1px solid white;
          align-items: center;
          justify-content: center;
          color: white;
     }

     .topbarSide {
          display: flex;
          flex-direction: column;
          width: 80%;
          height: 90vh;
          position: absolute;
          top: 0px;
          left: -100%;
          opacity: 1;
          transition: all 0.5s ease;
          align-items: center;
          padding-top: 50px;
     }

     .topbarSide.active {
          background: var(--color-main);
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 1;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
     }

     .topbarSideLinks {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-top: 80px;
     }

     .topbarSideItem {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          width: 100%;
          text-decoration: none;
          cursor: pointer;
          color: white;
     }

     .topbarSideItemIcon {
          margin-right: 30px;
     }

     .topbarSideItemText {
          font-weight: 600;
     }
}
